Git version control
.git
.gitignore

Docker specific files
Dockerfile
.dockerignore

Virtual environments
.venv

Python cache files
pycache/
*.pyc
*.pyo
*.pyd

IDE and OS-specific files
.idea/
.vscode/
*.DS_Store
.env

Local data, models, or notebooks
/data/
*.ipynb